.About > .container {
    text-align: center;
    padding: 80px 0px 128px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About__title {
    font-family: $header-font;
    color: $header-color;
    margin-bottom: 24px;
}

.About__description {
    margin-top: 24px;
    max-width: 744px;
    text-align: justify;
}
