.Flight {
    padding: 80px 0;
    background: #fff;
    color: $almost-black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Flight__right {
    padding: 0 20px;
    text-align: justify;
    max-width: 400px;
}

.Flight__left {
    padding: 0 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Flight--place {
    flex-direction: column;
    margin-right: 50px;
    color: $cta-button;
}

.Flight--hours {
    flex-direction: column;
}

.Flight--image {
    margin-right: 50px;
}

.Flight--margin {
    margin-bottom: 24px;
}

@media (max-width: $medium-screen) {
    .Flight {
        flex-direction: column;
    }

    .Flight--place {        
        margin-right: 15px;        
    }
    .Flight--image {
    margin-right: 15px;
}
}
